:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Kalam", cursive;
    --main-txt-color: #2C2C2C;
    --btn-default-bg: #BBF330;
    --btn-on-click-bg: #B5FF00;
    --btn-on-click-bg: #FFE550;
    --btn-default-border: #7EB101;
    --btn-on-click-border: #597D00;
}